


<div class="parent text-white m-2">
    <!-- Movie Poster -->
    <div class="div1">
        <img [src]="movieObject?.poster || ''" alt="Movie Poster" class="cursor-pointer w-full h-full object-cover rounded-lg" (click)="previewPoster()">
    </div>
    <!-- Movie Description -->
    <div class="div2">
        <h2 class="text-3xl font-semibold">Description</h2>
        <p class="text-xl mt-2">{{ movieObject?.description }}</p>
    </div>
    <!-- Movie Ratings -->
    <div class="div3">
        <h2 class="text-4xl font-semibold">Movie: <span class="text-2xl">{{ movieObject?.title || 'Movie Title' }}</span></h2>
        <div class="flex items-center mt-2">
            <h2 class="text-4xl font-semibold">Ratings:</h2>
            <div class="flex items-center ml-3">
                <ng-container *ngFor="let _ of [].constructor(movieRatings || 0); let i = index">
                    <svg class="w-6 h-6 text-yellow-300" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                </ng-container>
                <ng-container *ngFor="let _ of [].constructor(5 - (movieRatings || 0))">
                    <svg class="w-6 h-6 text-gray-300" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                </ng-container>
                <p class="text-lg font-semibold text-white">{{ movieRatings }}/5</p>
            </div>
        </div>
    </div>
    <!-- Movie Date -->
    <div class="div4">
        <h2 class="text-4xl font-semibold underline">Release Date <span class="text-2xl no-underline">{{ movieObject?.release_date | date }}</span></h2>
    </div>
    <!-- Movie Reviews -->
    <div class="div5">
        <ul class="divide-y divide-gray-300">
            @for (review of movieReviews; track $index) {
                <li class="pb-3 sm:pb-4 flex items-center space-x-4">
                    <img class="w-15 h-15 rounded-full" src="https://t4.ftcdn.net/jpg/00/65/77/27/360_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg" alt="User Avatar">
                    <div class="flex-1 min-w-0">
                        <p class="text-2xl font-medium text-gray-900 truncate dark:text-white">{{ review?.user }}</p>
                        <div class="flex items-center mt-2">
                            <ng-container *ngFor="let _ of [].constructor(review?.rating || 0)">
                                <svg class="w-6 h-6 text-yellow-300" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                            </ng-container>
                            <p class="text-lg font-semibold text-white">{{ review?.rating }}/5</p>
                        </div>
                        <p class="text-sm text-gray-500 mt-2">{{ review.review_text }}</p>
                    </div>
                    <p class="text-base font-semibold text-gray-900 dark:text-white">{{ review.created_at | timeAgo }}</p>
                    @if(currentUser === review.user) { 
                        <img [src]="hoverEffectText()" (mouseover)="onHover(true)" (mouseleave)="onHover(false)" alt="Edit Button" class="h-12 w-16 cursor-pointer" (click)="editUserReview()"/>
                    }
                </li>
            }
        </ul>
    </div>
</div>
@if(moviePosterPreview()) {
    <app-preview-poster [moviePoster]="movieObject.poster" (closeModal)="this.moviePosterPreview.set(false)"/>
}

@if(editReview()) { 
    <app-update-review [movieData]="movieObject" [movieReviewId]="movieReviewId" (submitReview)="this.editReview.set(false)"/>
}